header, nav > ul, .contact {
    display: flex;
    align-items: center;
}

header {
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: end;
    background-color: var(--darkmode-primary);
    padding: 3.06rem 0rem;
}

nav > ul {
    margin-right: 3.18rem;
    font-size: 1.25rem;
    line-height: 1.3em;
    font-weight: medium;
    color: var(--darkmoode-tertiary);
    gap: 2.7em;
}

nav > ul > li {
    cursor: pointer;
}

.contact {
    gap: 1.25rem
}

.contact_icon {
    width: 1.87rem;
}