.header, .nav_options, .contact {
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    position: sticky;
    box-sizing: border-box;
    padding: 3.06rem 0rem;
    background-color: inherit;
    justify-content: end;
}

.nav_options {
    margin-right: 3.18rem;
    font-size: 1.25rem;
    line-height: 1.3em;
    font-weight: medium;
    gap: 2.7em;
}

.nav_options > li {
    cursor: pointer;
}

.contact {
    gap: 1.25rem
}